.content{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: var(--white-color);
    border-radius: 10px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.features{
    display: flex;
    align-items: center;
    gap: 10px;
}

h2{
    font-size: 18px;
}