.content{
    width: 100%;
    min-height: 100svh;
    background: var(--bg-color); 
    padding: 20px;  

}
.head{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.messages{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}